@model CodeSnippetDisplayModel
@inject ICofoundryBlockTypeHelper<CodeSnippetDisplayModel> Cofoundry

@{
    Cofoundry.BlockType.UseDescription("Code snippet for the language of your choice with a rich color scheme");
}
<div class="code-snippet">
    <div class="coding-language">@Model.CodeLanguage</div>
    <pre>
        @{
            string language = Model.CodeLanguage == "C#" ? "csharp" : Model.CodeLanguage;
        }
        @if(Model.RequiresHighlighting)
        {
            <code class="language-@language">
                @Model.RawHtml
            </code>
        }
        else
        {
            <code class="language-plaintext language-nohighlight-@language">
                @Model.RawHtml
            </code>
        }
    </pre>
</div>