@model CodeSnippetDisplayModel
@inject ICofoundryBlockTypeHelper<CodeSnippetDisplayModel> Cofoundry

@{
    Cofoundry.BlockType.UseDescription("Code snippet for the language of your choice with a rich color scheme");
}
<div class="code-snippet">
    <div class="coding-language">@Model.CodeLanguage</div>
    @if(Model.RequiresHighlighting)
    {
        <pre><code class="language-@Model.HightlightJSAlias">@Model.RawHtml</code></pre>
    }
    else
    {
        <pre><code class="language-plaintext language-nohighlight-@Model.HightlightJSAlias">@Model.RawHtml</code></pre>
    }
</div>